<template>
  <div>
    <div class="construction-image coming_soon" >
		<!-- Page -->
		<div class="page page-h">
			<div class="page-content z-index-10">
				<div class="container text-center">
					<h1 class="h2 text-white coming_soon_title mb-3">Sorry! You Activation link is expired! </h1>
					<!-- <p class="h2  text-white  mb-3" style="font-size: 20px;">"Don't forget to check your junk and spam folder!"</p> -->
				
					<a href="/login" class="btn btn-success">
						Login Page
					</a>
					<a href="/" class="btn btn-warning">
						Back To Home
					</a>
				</div>
			</div>
		</div>
    </div>
  </div>
</template>

<script>
    export default {
        data () {
            return {
				
			}
        },
        methods: {
		
			
		},
		
    }
</script>